# Core functionality - changes here should be rare!
/src/app.py                   @kekeiirraa
/src/backend/database.py      @kekeiirraa
/src/backend/routers/auth.py  @kekeiirraa

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kekeiirraa
